In [8]:
import numpy as np 
scores = np.random.randint(50,101,size=(50,5))
scores

array([[ 80,  64,  62, 100,  53],
       [ 53,  53,  87,  82,  76],
       [ 52,  78,  84,  71,  81],
       [ 56,  55,  60,  83,  71],
       [ 82,  54,  72,  67,  90],
       [ 70,  84,  90,  78,  73],
       [ 97,  96,  95,  60,  54],
       [ 59,  58,  99,  88,  83],
       [100,  80,  86,  58,  66],
       [ 74,  51,  53,  77,  69],
       [ 88,  66,  67,  62,  89],
       [ 67,  85,  89,  50,  85],
       [ 92,  78,  72,  53,  57],
       [ 67,  83,  73,  81,  69],
       [ 99,  56,  62,  67,  54],
       [ 99,  51,  92,  87,  68],
       [ 60,  53,  75,  63,  73],
       [ 64,  93,  99,  92,  94],
       [ 65,  61,  76,  96,  95],
       [ 97,  69, 100,  66,  52],
       [ 85,  94,  96,  67,  96],
       [ 69,  52,  59,  89,  56],
       [ 93,  93,  91,  62,  67],
       [ 81,  52,  87,  94,  50],
       [ 58, 100,  73,  99,  60],
       [ 70,  95,  57,  51,  55],
       [ 52,  63,  98,  94,  59],
       [ 84,  73,  66,  97,  98],
       [ 88,  85,  85,  57,  65],
       [ 69,  88,  96,  73,  70],
       [ 81, 100,  50,  60,  52],
       [ 73,  55,  77,  65,  59],
       [ 53,  65,  53,  67,  81],
       [ 64,  64,  79,  94,  63],
       [ 80,  85,  98,  64,  98],
       [ 97,  88,  98,  68,  53],
       [ 69,  59,  79,  60,  87],
       [100,  53,  56,  93,  58],
       [ 77,  81,  75,  84,  76],
       [ 70,  56,  50,  56,  61],
       [ 80,  73,  71,  92,  96],
       [ 55,  77,  67,  72, 100],
       [ 59,  63,  85,  75,  70],
       [ 50, 100,  82,  87,  96],
       [ 63,  61,  83,  95,  85],
       [ 87,  56,  74,  71,  52],
       [ 55,  92,  75,  56,  78],
       [ 69,  78,  85,  82,  89],
       [ 68,  76,  63,  97,  80],
       [ 62,  57,  59,  75,  83]], dtype=int32)

In [9]:
import pandas as pd

df = pd.DataFrame(scores,
             index= [f"學生{i}"for i in range(50)],
             columns = ["國文","英文","數學","地理","歷史"]   
)
df

       國文   英文   數學   地理   歷史
學生0    80   64   62  100   53
學生1    53   53   87   82   76
學生2    52   78   84   71   81
學生3    56   55   60   83   71
學生4    82   54   72   67   90
學生5    70   84   90   78   73
學生6    97   96   95   60   54
學生7    59   58   99   88   83
學生8   100   80   86   58   66
學生9    74   51   53   77   69
學生10   88   66   67   62   89
學生11   67   85   89   50   85
學生12   92   78   72   53   57
學生13   67   83   73   81   69
學生14   99   56   62   67   54
學生15   99   51   92   87   68
學生16   60   53   75   63   73
學生17   64   93   99   92   94
學生18   65   61   76   96   95
學生19   97   69  100   66   52
學生20   85   94   96   67   96
學生21   69   52   59   89   56
學生22   93   93   91   62   67
學生23   81   52   87   94   50
學生24   58  100   73   99   60
學生25   70   95   57   51   55
學生26   52   63   98   94   59
學生27   84   73   66   97   98
學生28   88   85   85   57   65
學生29   69   88   96   73   70
學生30   81  100   50   60   52
學生31   73   55   77   65   59
學生32   53   65   53   67   81
學生33   64   64   79   94   63
學生34   80   85   98   64   98
學生35   97   88   98   68   53
學生36   69   59   79   60   87
學生37  100   53   56   93   58
學生38   77   81   75   84   76
學生39   70   56   50   56   61
學生40   80   73   71   92   96
學生41   55   77   67   72  100
學生42   59   63   85   75   70
學生43   50  100   82   87   96
學生44   63   61   83   95   85
學生45   87   56   74   71   52
學生46   55   92   75   56   78
學生47   69   78   85   82   89
學生48   68   76   63   97   80
學生49   62   57   59   75   83

In [ ]:
df [-1:]

      國文   英文  數學  地理  歷史
學生43  50  100  82  87  96
學生44  63   61  83  95  85
學生45  87   56  74  71  52
學生46  55   92  75  56  78
學生47  69   78  85  82  89
學生48  68   76  63  97  80
學生49  62   57  59  75  83