In [ ]:
import pandas as pd
#將DataFrame當作資料庫來操作
df = pd.read_csv('world.csv')

In [ ]:
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]

In [ ]:
df1['日期'] = pd.to_datetime(df1['日期'])

In [ ]:
#實體方法query()
#query()內放的是字串

df1_taiwan = df1.query("國家=='台灣'")
df1_taiwan

In [9]:
df1_japan = df1.query("國家=='日本'")
df1_japan

       洲名  國家         日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本 2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本 2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本 2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本 2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本 2020-01-26        4      2  126050796  99999.0
...    ..  ..        ...      ...    ...        ...      ...
86518  亞洲  日本 2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本 2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本 2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本 2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本 2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]

In [10]:
df1_japan.query("日期.dt.year == 2021 and (日期.dt.month == 5) or (日期.dt.month == 8)")
df1_japan

       洲名  國家         日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本 2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本 2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本 2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本 2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本 2020-01-26        4      2  126050796  99999.0
...    ..  ..        ...      ...    ...        ...      ...
86518  亞洲  日本 2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本 2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本 2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本 2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本 2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]

In [11]:
df1_japan.query("日期.dt.year == 2021")

       洲名  國家         日期     總確診數  新增確診數       總人口數      解封指數
85971  亞洲  日本 2021-01-01   239005   3256  126050796      0.25
85972  亞洲  日本 2021-01-02   242076   3071  126050796      0.25
85973  亞洲  日本 2021-01-03   245242   3166  126050796      0.26
85974  亞洲  日本 2021-01-04   248585   3343  126050796      0.26
85975  亞洲  日本 2021-01-05   253534   4949  126050796      0.27
...    ..  ..        ...      ...    ...        ...       ...
86331  亞洲  日本 2021-12-27  1730735    163  126050796  99999.00
86332  亞洲  日本 2021-12-28  1731048    313  126050796  99999.00
86333  亞洲  日本 2021-12-29  1731446    398  126050796  99999.00
86334  亞洲  日本 2021-12-30  1731878    432  126050796  99999.00
86335  亞洲  日本 2021-12-31  1732296    418  126050796  99999.00

[365 rows x 7 columns]